*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
  --background: #b0d7d9;
  --background-decor: #d1e9e7;
}

body {
    font-family:monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333;
    background:#eee;
    background-color: var(--background);
    background-image: radial-gradient(var(--background-decor) 20%, transparent 0), radial-gradient(var(--background-decor) 20%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    
}

html {
  font-size:16px;
}

h1 {
    color: #d2691e;
}
img {
    width: 200px;
    border-radius: 10px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card_image {
  height: calc(13*1.2rem);
  padding: 1.2rem 1.2rem 0;
  position:relative;
}
.card_image:before,
.card_image:after{
  content: "";
  position: absolute;
  width: 20px;
  left: 60%;
  top: 0;
  height: 45px;
  background: #e6e6e6b8;
  transform: rotate(45deg);
}
.card_image:after{
  transform: rotate(-45deg);
  top:auto;
  bottom:-22px;
  left:40%;
}
.card_image img {
  height:100%;
  object-fit:cover;
}

.cards_item {
  filter:drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(red 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
}

.card_content {
  padding: 1.2rem;
}

h2.card_title,p {
  margin: 1.2rem 0;
}
h2.card_title {
    font-size: 1.3em;
}

.hero{
  background-color: white;
  margin: 3% 5% ;
  padding: 50px;
  border-radius: .25rem;
  -webkit-mask: radial-gradient(circle .8rem at 2px 50%, #0000 98%, #000) 0 0 / 100% 2.4rem;
}

/* individual placement for polaroids and tape for each card */
/* card 1 */
#card-1 .card_image:before {
  transform: rotate(88deg);
  top: 0;
  left: 50%;
}

#card-1 .card_image:after {
  transform: rotate(88deg);
  bottom: -22px;
  left: 52%;
}

#card-1 .card_image img {
  transform: rotate(-2deg);
}

/* card 2 */
#card-2 .card_image:before {
  transform: rotate(86deg);
  top: 0;
  left: 51%;
}

#card-2 .card_image:after {
  transform: rotate(89deg);
  bottom: -22px;
  left: 53%;
}

#card-2 .card_image img {
  transform: rotate(0deg);
}

/* card 3 */
#card-3 .card_image:before {
  transform: rotate(87deg);
  top: 0;
  left: 49%;
}

#card-3 .card_image:after {
  transform: rotate(90deg);
  bottom: -22px;
  left: 51%;
}

#card-3 .card_image img {
  transform: rotate(1deg);
}

/* card 4 */
#card-4 .card_image:before {
  transform: rotate(89deg);
  top: 0;
  left: 50%;
}

#card-4 .card_image:after {
  transform: rotate(86deg);
  bottom: -22px;
  left: 52%;
}

#card-4 .card_image img {
  transform: rotate(-1deg);
}

/* card 5 */
#card-5 .card_image:before {
  transform: rotate(88deg);
  top: 0;
  left: 51%;
}

#card-5 .card_image:after {
  transform: rotate(87deg);
  bottom: -22px;
  left: 50%;
}

#card-5 .card_image img {
  transform: rotate(2deg);
}

/* card 6 */
#card-6 .card_image:before {
  transform: rotate(89deg);
  top: 0;
  left: 49%;
}

#card-6 .card_image:after {
  transform: rotate(88deg);
  bottom: -22px;
  left: 53%;
}

#card-6 .card_image img {
  transform: rotate(0deg);
}

/* card 7 */
#card-7 .card_image:before {
  transform: rotate(87deg);
  top: 0;
  left: 50%;
}

#card-7 .card_image:after {
  transform: rotate(90deg);
  bottom: -22px;
  left: 52%;
}

#card-7 .card_image img {
  transform: rotate(-1deg);
}

/* card 8 */
#card-8 .card_image:before {
  transform: rotate(86deg);
  top: 0;
  left: 51%;
}

#card-8 .card_image:after {
  transform: rotate(89deg);
  bottom: -22px;
  left: 50%;
}

#card-8 .card_image img {
  transform: rotate(1deg);
}

/* card 9 */
#card-9 .card_image:before {
  transform: rotate(88deg);
  top: 0;
  left: 50%;
}

#card-9 .card_image:after {
  transform: rotate(87deg);
  bottom: -22px;
  left: 51%;
}

#card-9 .card_image img {
  transform: rotate(-2deg);
}

/* card 10 */
#card-10 .card_image:before {
  transform: rotate(89deg);
  top: 0;
  left: 49%;
}

#card-10 .card_image:after {
  transform: rotate(86deg);
  bottom: -22px;
  left: 51%;
}

#card-10 .card_image img {
  transform: rotate(2deg);
}
